﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Items.aspx.cs" Inherits="SubscriptionItems" EnableViewState="False" EnableViewStateMac="False" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    <asp:Label ID="labelSubscriptionItems" runat="server" Text="" />
    </div>
    </form>
</body>
</html>
